# Distribution file for the SplitBregman project.
# http://www.openengine.dk/wiki/Projects/SplitBregman

# main repository
git / https://github.com/OpenEngineDK/openengine.git
git-dev / git@github.com:OpenEngineDK/openengine.git

# project repository
git /projects/SplitBregman https://github.com/OpenEngineDK/projects-SplitBregman.git
git-dev /projects/SplitBregman git@github.com:OpenEngineDK/projects-SplitBregman.git

# required extensions
git /extensions/TexUtils      https://github.com/OpenEngineDK/extensions-TexUtils.git
git /extensions/FreeImage     https://github.com/OpenEngineDK/extensions-FreeImage.git
git /extensions/OpenGLRenderer         https://github.com/OpenEngineDK/extensions-OpenGLRenderer.git
git /extensions/SetupHelpers           https://github.com/OpenEngineDK/extensions-SetupHelpers.git
git /extensions/SDL                    https://github.com/OpenEngineDK/extensions-SDL.git
git /extensions/HUD                    https://github.com/OpenEngineDK/extensions-HUD.git
git /extensions/SDLImage               https://github.com/OpenEngineDK/extensions-SDLImage.git
git /extensions/CairoResource          https://github.com/OpenEngineDK/extensions-CairoResource.git
git /extensions/TGAResource            https://github.com/OpenEngineDK/extensions-TGAResource.git
git /extensions/OBJResource            https://github.com/OpenEngineDK/extensions-OBJResource.git
git /extensions/AccelerationStructures https://github.com/OpenEngineDK/extensions-AccelerationStructures.git

git-dev /extensions/TexUtils  git@github.com:OpenEngineDK/extensions-TexUtils.git
git-dev /extensions/FreeImage git@github.com:OpenEngineDK/extensions-FreeImage.git
git-dev /extensions/OpenGLRenderer         git@github.com:OpenEngineDK/extensions-OpenGLRenderer.git
git-dev /extensions/SetupHelpers           git@github.com:OpenEngineDK/extensions-SetupHelpers.git
git-dev /extensions/SDL                    git@github.com:OpenEngineDK/extensions-SDL.git
git-dev /extensions/HUD                    git@github.com:OpenEngineDK/extensions-HUD.git
git-dev /extensions/SDLImage               git@github.com:OpenEngineDK/extensions-SDLImage.git
git-dev /extensions/CairoResource          git@github.com:OpenEngineDK/extensions-CairoResource.git
git-dev /extensions/TGAResource            git@github.com:OpenEngineDK/extensions-TGAResource.git
git-dev /extensions/OBJResource            git@github.com:OpenEngineDK/extensions-OBJResource.git
git-dev /extensions/AccelerationStructures git@github.com:OpenEngineDK/extensions-AccelerationStructures.git

# project data
any /projects/SplitBregman/data    http://rsbweb.nih.gov/ij/plugins/images/shepp256.png
